<v-app-bar color="primary">
  <v-app-bar-nav-icon class="pl-4">
    <v-avatar>
      <v-img src="@/assets/logo-sm.png"></v-img>
    </v-avatar>
  </v-app-bar-nav-icon>
  <v-toolbar-title class="text-logo">Dovey Travel</v-toolbar-title>
  <v-spacer></v-spacer>

  <router-link v-if="!IS_LOGGED_IN" v-for="item of navItems" :key="item.name" :to="item.to"
    style="text-decoration: none; color: inherit;">
    <v-btn elevation="0">
      <v-icon>mdi-{{item.icon}}</v-icon>
      <strong class="hidden-sm-and-down"> {{ item.name }}</strong>
    </v-btn>
  </router-link>
  <router-link v-if="IS_LOGGED_IN && this.$route.name!=='History'" to="/history"
    style="text-decoration: none; color: inherit;">
    <v-btn elevation="0">
      <v-icon>mdi-cart</v-icon>
      <strong class="hidden-sm-and-down"> History</strong>
    </v-btn>
  </router-link>
  <router-link v-if="IS_LOGGED_IN && this.$route.name==='History'" to="/home"
    style="text-decoration: none; color: inherit;">
    <v-btn elevation="0">
      <v-icon>mdi-home</v-icon>
      <strong class="hidden-sm-and-down"> Home</strong>
    </v-btn>
  </router-link>
  <v-btn v-if="IS_LOGGED_IN" @click.prevent="logout" elevation="0">
    <v-icon>mdi-exit-to-app</v-icon>
    <strong class="hidden-sm-and-down"> Logout</strong>
  </v-btn>
  </v-menu>
  </nav>
</v-app-bar>