<v-container fill-height>
    <v-layout align-center justify-center>
        <v-flex class="login-form text-xs-center">
            <div class="display-1 mb-3 text-center">
                <img style="max-width: 50px;" src="@/assets/logo-sm.png"></img>
                <p class="text-logo"> Dovey Travel</p>
            </div>
            <v-card light>
                <v-card-text>
                    <div class="subheading text-center">Where the journey begins!</div>
                    <v-alert type="error" v-show="signinFailure">
                        The email has been used.
                    </v-alert>
                    <div v-if="validationErrors.length" class="notification is-danger is-light">
                        <div class="content">
                            Please resolve the following error(s) before proceeding.
                            <ul style="margin-top:0.3em; margin-left: 1em">
                                <li v-for="(error, index) in validationErrors" :key="`error-${index}`" v-html="error" />
                            </ul>
                        </div>
                    </div>
                    <v-form>
                        <v-text-field v-model="email" light prepend-icon="mdi-email" label="Email" type="email">
                        </v-text-field>
                        <v-text-field v-model="password" light prepend-icon="mdi-lock" label="Password" type="password">
                        </v-text-field>
                        <v-text-field v-model="passwordRepeat" light prepend-icon="mdi-lock-reset"
                            label="Confirm Password" type="password">
                        </v-text-field>
                        <v-btn block color="secondary" :disabled="isLoading" type="submit" @click.prevent="validate">
                            Sign up</v-btn>
                    </v-form>
                </v-card-text>
            </v-card>
            <div class=" text-center mt-5" @click="pushLogin">Already have an account?<v-btn color="secondary"
                    class="ml-4" light>Log in
                </v-btn>
            </div>
        </v-flex>
    </v-layout>
</v-container>