<div class="home">

    <v-carousel cycle height="400" hide-delimiter-background show-arrows-on-hover>
        <v-carousel-item v-for="(carousel,i) in carousels" :key="i" :src="carousel.src"
            reverse-transition="fade-transition" transition="fade-transition">
            <v-container fill-height>
                <v-row class="mx-auto">
                    <v-col class="text-center">
                        <span>
                            <p class="display-3">Animation line 1</p>
                        </span>
                        <br>
                        <span>
                            <p class="display-1">Animation line 2</p>
                        </span>
                        <br>
                    </v-col>
                </v-row>
            </v-container>
        </v-carousel-item>
    </v-carousel>
    <div class="container my-5">
        <p class="text-h4 font-weight-bold">Top Destinations</p>

        <v-sheet class="mx-auto" elevation="8">
            <v-slide-group v-model="selectedCards" class="pa-4" multiple v-if>
                <v-slide-item v-for="card,n in cards" :key="n" v-slot="{ active, toggle }">
                    <v-card :color="active ? '#3662D8' : 'lighten-1'" class="ma-4" width="264" @click="toggle(); updateCart();
                    updateAmount();" min-height="340px">
                        <div v-if="!active">
                            <v-img height="200" :src="card.src"></v-img>
                            <v-card-title>{{card.title}}</v-card-title>
                            <v-card-text>
                                <div>{{card.content}}</div>
                            </v-card-text>
                        </div>
                        <v-row v-if="active" class="fill-height" align="center" justify="center">
                            <v-scale-transition>
                                <v-icon color="white" size="48" v-text="'mdi-close-circle-outline'">
                                </v-icon>
                            </v-scale-transition>
                        </v-row>
                    </v-card>
                </v-slide-item>
            </v-slide-group>
        </v-sheet>
        <div class="pa-4"></div>
        <v-container fill-height fluid>
            <v-row align="center" justify="center">
                <CheckoutBtn :amount="amount" v-if="amount" :email="user.email"
                    @paymentSuccessEvent="paymentSuccessEvent" :key="amount" />
            </v-row>
        </v-container>
    </div>
</div>