<div class="history">
    <p class="text-h4 font-weight-bold">Order History</p>

    <v-sheet class="mx-auto" elevation="8">
        <div v-for="item in history" v-if="item.timestamp">
            <p class="font-weight-bold pt-2 pl-2 pa-0 ma-0">{{toDate(item.timestamp)}}</p>
            <v-slide-group class="pa-4">
                <v-slide-item v-for="card,n in item.items" :key="n" v-slot="{ active, toggle }">
                    <v-card class="mt-1 ma-4" width="264" min-height="340px">
                        <v-img height="200" :src="card.src"></v-img>
                        <v-card-title>{{card.title}}</v-card-title>
                        <v-card-text>
                            <div>{{card.content}}</div>
                        </v-card-text>
                    </v-card>
                </v-slide-item>
            </v-slide-group>
        </div>
    </v-sheet>
</div>