<div class="history">
    <p class="text-h4 font-weight-bold">Order History</p>

    <v-sheet class="mx-auto" elevation="8">
        <div v-for="item in history" v-if="item.timestamp">
            <p class="font-weight-bold pt-2 pl-2 pa-0 ma-0">{{toDate(item.timestamp)}}</p>
            <v-slide-group class="pa-4">
                <v-slide-item v-for="card,n in item.items" :key="n" v-slot="{ active, toggle }">
                    <v-card class="mt-1 ma-4" width="264" min-height="340px">
                        <v-img height="200" :src="card.src"></v-img>
                        <v-card-title>{{card.title}}</v-card-title>
                        <v-card-text>
                            <v-row align="center" class="mx-0">
                                <v-rating :value="card.rating" color="amber" dense half-increments readonly size="14">
                                </v-rating>
                                <div class="grey--text ms-4">
                                    {{card.rating}} ({{card.vote}})
                                </div>
                            </v-row>
                            <div class="my-4 text-subtitle-1">
                                <v-icon>mdi-earth</v-icon> • {{card.location}}
                            </div>
                            <div>{{card.content}}</div>
                            <v-divider class="mx-4 my-4"></v-divider>
                            <v-row class="fill-height" align="center" justify="center">
                                <p class="font-weight-bold my-2 text-h5">RM {{card.price}}</p> /pax
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-slide-item>
            </v-slide-group>
        </div>
    </v-sheet>
</div>